a {
    color: #666;
}

a:hover {
    color: #C81623
}

ol, ul {
    list-style: none;
}

li {
    display: list-item;
}

.w {
    width: 1000px;
    margin: 0 auto;
}

div {
	margin: 0;
    padding: 0;
    display: block;
}

body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #fdfdfd;
    background: #fdfdfd;
    background-attachment: fixed;
}

#logo {
    position: relative;
    width: 300px;
    margin: 10px 0;
    height: 60px;
    float: left;
    border: 1px;
}

#logo img {
    width: 170px;
    height: 60px;
}

/*#logo b {
    display: block;
    width: 110px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    background: url(l-icon.png) no-repeat;
}*/

.q-link {
    position: relative;
    color: #999;
    float: right;
    top: 52px;
}

.q-link b {
    display: inline-block;
    width: 18px;
    height: 14px;
    margin: 0 5px;
    background: url(../img/login/msg.png) no-repeat;
    overflow: hidden;
    vertical-align: middle;
}

/*主题内容部分，清除浮动*/
#content {
    clear: both;
}

.login-wrap {
    position: relative;
    height: 600px;
    margin: 10px 0 0px;
    z-index: 5;
}

.login-wrap .login-banner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 600px;
    background: white;
}

.login-banner img{
    position: relative;
    width: 100%;
    height: 600px;
}


/*页面底部布局*/
#footer {
    padding-bottom: 30px;
    text-align: center;
}

#footer .links a,
#footer .links span {
    margin: 0 10px
}

#footer .links span a {
    margin: 0
}

#content .tips-wrapper {
    background: #fff8f0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#content .login-wrap {
    margin-top: 0;
}

#content .tips-wrapper .icon-tips {
    background: url(../img/login/icon-tips.png);
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

#content .tips-wrapper .cont-wrapper {
    display: inline-block;
    display: inline;
    width: 90%;
}

#content .tips-wrapper .tips-inner p {
    vertical-align: middle;
    color: #999;
    font-size: 12px;
    display: inline-block;
    display: inline;
}
.submit .forget-pw {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}