
/* ::::: http://hust.2shoujie.com/resource/css/release.css?v=201506100001 ::::: */

.main { padding: 50px 0px 20px; }
.release-icon-main { display: block; width: 60px; height: 60px; margin: 0px auto; }
.wave-fluid { width: 177px; height: 6px; margin: 10px auto 0px; background: transparent url('../imgs/black-wave.png') repeat scroll 0px 0px; }
.release-title { width: 150px; height: 36px; margin: 12px auto 0px; background: transparent url('../imgs/release-title.png') no-repeat scroll 0% 0%; text-indent: -9999em; }
.wantInfo-release-title { width: 150px; height: 36px; margin: 12px auto 0px; background: transparent url('../imgs/want-product-title.png') no-repeat scroll 0% 0%; text-indent: -9999em; }
.clone-target { display: none; }
.upload-area { display: inline-block; }
.upload-area > div { width: 160px; height: 160px; }
.init-up #upload { margin: 0px auto; z-index: 50; position: relative; top: 2px; }
div.init-up { width: 160px; height: 160px; margin: auto; position: relative; top: 32px; }
div.init-up:hover .up-bg { transition: all 0.3s ease 0s; transform: rotate(-180deg); }
.upload-wr { width: 860px; height: 220px; background-color: rgb(246, 249, 249); margin: 27px auto 0px; }
.photo-area { position: relative; }
.up-bg { display: none; }
.photo-caution { display: none; }
.init-up .up-bg { display: block; width: 160px; height: 160px; position: absolute; left: 0px; top: 0px; border-radius: 50%; background-image: linear-gradient(rgb(68, 193, 165) 0%, rgb(255, 198, 0) 100%); cursor: pointer; }
.photo { position: relative; top: 24px; display: inline-block; background-color: white; width: 160px; height: 160px; margin-left: 30px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); }
.photo-caution { width: 100%; position: absolute; bottom: 0px; line-height: 35px; text-align: center; color: rgb(189, 191, 197); font-size: 14px; }
.photo div { width: 140px; height: 140px; position: relative; left: 10px; top: 10px; }
.photo img { max-width: 140px; max-height: 140px; display: block; margin: auto; }
.photo .close { position: absolute; top: -5px; right: -5px; width: 20px; height: 20px; border-radius: 100%; cursor: pointer; background: transparent url('../imgs/close.png') no-repeat scroll -10px -40px; }
.photo .close:hover { background-position: -10px -10px; }
.form-wr { width: 860px; margin: 20px auto; padding: 40px 0px 30px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.form-item { width: 100%; height: 40px; margin-bottom: 20px; }
.form-item::after { content: ""; width: 0px; height: 0px; display: block; visibility: hidden; clear: both; }
.form-key, .form-contact { display: table; width: 25.5%; height: 100%; text-align: right; color: rgb(68, 68, 68); font-size: 1.17em; line-height: 1em; float: left; }
.form-key span { display: table-cell; vertical-align: middle; }
.form-value { height: 100%; margin-left: 2.8%; float: left; }
.form-item.xl { height: 80px; margin-bottom: 30px; }
.l .form-value, .xl .form-value { width: 52.2%; }
.form-value-l { position: relative; width: 26.1%; float: left; display: none; }
.m .form-value { width: 26.1%; }
.form-input-wr, .form-input-l-wr { border: 1px solid rgb(208, 224, 226); background-color: rgb(246, 249, 249); border-radius: 7px; padding: 5px 7px; overflow: hidden; position: relative; }
.form-value-l { margin-left: 10px; }
.goods-cat .form-value, .goods-place .form-value { position: relative; }
.goods-cat .form-input-wr, .goods-cat .form-input-l-wr, .goods-place .form-input-wr { color: rgb(133, 142, 143); font-size: 1.17em; text-align: center; line-height: 30px; vertical-align: middle; cursor: pointer; }
.goods-cat .form-input-wr span, .form-input-l-wr span, .goods-place .form-input-wr span { cursor: pointer; }
.goods-cat .select, .goods-place .select { display: none; width: 100%; position: absolute; left: 0px; top: 0px; padding: 20px 0px 0px; border: 1px solid rgb(208, 224, 226); background-color: rgb(255, 255, 255); border-radius: 6px; list-style: outside none none; }
.goods-cat .select { z-index: 100; }
.select li { margin-bottom: 20px; color: rgb(102, 102, 102); font-size: 1.17em; text-align: center; cursor: pointer; }
.select li span { position: relative; cursor: pointer; }
.select li:hover span { color: rgb(50, 195, 165); }
.select li:hover span::before { content: ""; display: inline-block; width: 8px; height: 8px; position: absolute; left: -15px; top: 50%; margin-top: -4px; border-radius: 100%; background-color: rgb(50, 195, 165); }
.form-input-wr input { width: 100%; height: 28px; color: rgb(68, 68, 68); font-size: 1.17em; line-height: 28px; vertical-align: middle; background-color: transparent; }
.form-input-wr textarea { color: rgb(68, 68, 68); }
.goods-price .form-input-wr::before { content: "￥"; text-align: center; display: block; width: 30px; height: 40px; position: absolute; left: 0px; float: left; color: rgb(133, 142, 143); font-size: 1.33em; line-height: 40px; vertical-align: middle; top: 0px; }
.goods-price .form-input-wr { padding-left: 30px; position: relative; }
.goods-discount .form-input-wr span { float: left; width: 49%; color: rgb(133, 142, 143); font-size: 1.17em; text-align: center; line-height: 28px; vertical-align: middle; cursor: pointer; }
.goods-discount .form-input-wr span.sel { color: rgb(0, 172, 144); }
#desc { width: 100%; height: 68px; font-size: 1.17em; resize: none; background-color: transparent; }
span.yes { border-right: 1px solid rgb(186, 200, 202); }
.form-contact { display: block; height: auto; }
.form-least { float: left; color: rgb(133, 141, 142); font-size: 1.17em; line-height: 1em; margin-bottom: 10px; }
.form-sep-form { width: 62%; margin: 0px auto; }
.form-select { margin-top: 20px; }
.form-share-wr { margin-top: 20px; margin-left: 28.3%; }
.form-share-wr label { display: table; }
.form-share-wr label input { display: table-cell; vertical-align: middle; }
.form-share-wr label span { display: table-cell; vertical-align: middle; text-indent: 5px; color: rgb(102, 102, 102); font-size: 1em; }
.form-share-wr label span a { color: rgb(60, 194, 165); }
.form-submit { width: 24%; height: 45px; margin-left: 28.3%; margin-top: 30px; background: rgb(60, 194, 165) url('../img/release-form-button.png') no-repeat scroll center center; border-radius: 23px; transition: all 0.2s ease 0s; text-indent: -9999em; cursor: pointer; }
.form-submit:hover { opacity: 0.9; }
.form-alert::before { content: "不能为空"; color: rgb(235, 80, 83); position: absolute; line-height: 40px; top: 0px; left: 10px; }
.download_guide, .school_guide { position: fixed; left: 0px; top: 0px; z-index: 110; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; }
.vertical_center { position: fixed; left: 50%; top: 50%; }
.download_guide .pop_wrapper .close, .school_guide .close-ico { position: absolute; left: 428px; top: 53px; width: 40px; height: 40px; background: transparent url('../imgs/app-guide-sprite.png') repeat scroll -10px -123px; cursor: pointer; }
.school_guide .close-ico { top: -20px; }
.download_guide .pop_wrapper .close:hover, .school_guide .close-ico:hover { background: transparent url('../imgs/app-guide-sprite.png') repeat scroll -60px -123px; }
.school_guide .pop_wrapper { width: 450px; height: 310px; margin-left: -225px; margin-top: -155px; background-color: rgb(124, 212, 236); border-radius: 13px; color: rgb(255, 255, 255); font-size: 18px; line-height: 1.2em; text-align: center; }
.school_guide .col-icon { background: transparent url('../imgs/col_school.png') no-repeat scroll center center; position: absolute; top: -82px; width: 100%; height: 130px; }
.school_guide h4 { font-weight: normal; margin: 65px 0px 15px; }
span.col-tip { display: block; width: 200px; margin: 0px auto; padding-top: 10px; border-top: 2px solid rgb(255, 255, 255); }
.verify-school { margin: 16px auto 0px; }
.cur-school, .certi-school { display: inline-block; height: 48px; line-height: 48px; border-radius: 24px; background-color: rgb(255, 255, 255); color: rgb(91, 196, 231); text-decoration: none; padding: 0px 20px; }
.or-tip { font-size: 14px; line-height: 30px; }
@media screen and (min-width: 1280px) {
	.upload-wr, .form-wr { width: 920px; }
}
.hide { display: none !important; }
#upload { cursor: pointer; }
.up-img-bg { text-align: center; vertical-align: middle; display: block; background-color: rgb(255, 255, 255); border-radius: 50%; width: 156px; height: 156px; line-height: 170px; position: absolute; left: 2px; top: 2px; }
.up-img-bg > i { display: inline-block; vertical-align: middle; width: 80px; height: 100px; background-image: url('../imgs/can1.png'); margin-top: 36px; background-position: -10px -120px; background-repeat: no-repeat; }
.up-img-bg:hover i { background-position: -10px -10px; }
.moxie-shim { width: 160px; height: 160px; }
.moxie-shim > input { font-size: 0px !important; cursor: pointer; }
.upload-area > div { top: 0px; float: left; margin-left: 0px; margin-right: 30px; }
